h1 {
    color: red;
}

/* Header Styling */

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 2px solid grey;
    padding: 10px;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 120px;
    height: 120px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding-right: 50px;
    font-size: 22px;
    margin: 5px;
}

/* Body styling */
.body {
    margin: 10px;
    height: 65vh;
}

.res-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.res-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 2px solid black;
   width: 10vw;
   height: 30vh;
   padding: 5px;
}

.res-img {
    height: 60px;
    width: 60px;
}